<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zagayevskiy.fussball"
    android:versionCode="13"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <permission
        android:name="com.zagayevskiy.fussball.permission.WRITE_DATABASE"
        android:description="@string/permission_write_database_description"
        android:label="@string/permission_write_database_label"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.zagayevskiy.fussball.permission.WRITE_DATABASE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.zagayevskiy.fussball.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zagayevskiy.fussball.AuthActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name="com.zagayevskiy.fussball.MainActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name="com.zagayevskiy.fussball.NewGameActivity"
            android:exported="false"
            android:parentActivityName="com.zagayevskiy.fussball.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.zagayevskiy.fussball.SearchPlayerActivity"
            android:exported="false"
            android:parentActivityName="com.zagayevskiy.fussball.NewGameActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.NewGameActivity" />
        </activity>
        <activity
            android:name="com.zagayevskiy.fussball.ProfileActivity"
            android:exported="false"
            android:parentActivityName="com.zagayevskiy.fussball.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>

        <service
            android:name="com.zagayevskiy.fussball.api.ApiService"
            android:exported="false" >
        </service>
        <service
            android:name="com.zagayevskiy.fussball.widget.RatingRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>

        <provider
            android:name="com.zagayevskiy.fussball.db.DBProvider"
            android:authorities="com.zagayevskiy.fussball.db"
            android:exported="true"
            android:writePermission="com.zagayevskiy.fussball.permission.WRITE_DATABASE" />

        <receiver android:name="com.zagayevskiy.fussball.widget.RatingWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.zagayevskiy.fussball.action.PLAYERS_LIST_LOADED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata" >
            </meta-data>
        </receiver>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="d4c55ab6dead1c7b668ae85d3dbc0b278df0b871" />
    </application>

</manifest>